@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Roboto:wght@400;500&display=swap");

:root {
  --border-color: #b14922;
  --default-black: #3f3f3f;
  --default-yellow: #ead107;
}

* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ede8d4;
}

/* BANNER */
.banner-navbar {
  width: 100%;
}

.banner-navbar .image section {
  width: 100%;
  height: 350px;
  background: url("/images/banner.jpg");
  background-color: #eeeeee;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-navbar .navbar {
  padding: 12px 0;
  background-color: var(--default-black);
  display: flex;
  justify-content: center;
}

.banner-navbar .navbar .logo {
  font-family: "Comic Neue", cursive;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.banner-navbar .navbar .logo a {
  color: #ffffff;
  text-decoration: none;
}

.banner-navbar .navbar .logo a:hover {
  color: var(--default-yellow);
}

.banner-navbar .navbar .logo a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--default-yellow);
  position: absolute;
  left: 50%;
  bottom: -2px;
}

.banner-navbar .navbar .logo a:hover:after {
  left: 0;
  width: 100%;
  transition: all 200ms ease-in-out;
}

.banner-navbar .navbar .search-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.banner-navbar .navbar .search-wrapper form {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.banner-navbar .navbar .search-wrapper form input {
  width: 65%;
  padding: 8px;
  outline: none;
  color: #555;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
}

.banner-navbar .navbar .search-wrapper form input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

.banner-navbar .navbar .search-wrapper form button {
  width: 25%;
  text-align: center;
  border-radius: 4px;
  background-color: var(--default-yellow);
  font-weight: bold;
  font-size: 16px;
  color: var(--default-black);
}

.banner-navbar .navbar .search-wrapper form button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* CONTENT */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 1000px;
  height: auto;
}

.container .cards {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6.2%;
  max-height: 8000px;
  height: auto;
}

.container .cards .comic-card {
  width: 20%;
  margin: 2% 0 0 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
  max-height: 400px;
  height: auto;
  border: 2px solid var(--default-black);
  text-decoration: none;
  color: var(--default-black);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
}

.container .cards .comic-card:hover {
  cursor: pointer;
  border: 2px solid var(--border-color);
  opacity: 0.7;
}

.container .cards .comic-card img {
  width: 100%;
  height: 300px;
}

.container .cards .comic-card .title {
  font-size: 18px;
  font-weight: 500;
  margin: 6% 0 6% 0;
  padding: 0 10% 0 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .cards .comic-card .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding: 0 10% 0 10%;
  margin: 0 0 6% 0;
}

.container .pagination-wrapper {
  margin: 1% 0 2% 0;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.container .pagination-wrapper .pagination {
  display: flex;
  gap: 14px;
}

.container .pagination-wrapper .pagination a {
  border: 2px solid var(--default-black);
  border-radius: 4px;
  padding: 6px 10px;
  text-decoration: none;
  background-color: var(--default-yellow);
  color: var(--default-black);
  font-weight: bold;
}

.container .pagination-wrapper .pagination a:hover {
  opacity: 0.7;
  border: 2px solid var(--border-color);
}

@media (max-width: 1366px) {
  .container {
    max-height: 1500px;
  }

  .container .cards .comic-card {
    width: 30%;
  }
}

.container .card {
  width: 60%;
  display: flex;
  min-height: 200px;
  height: auto;
  border: 2px solid var(--default-black);
  padding: 16px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  margin: 2% 0 4% 0;
}

.container .card .image {
  width: 30%;
  max-height: 450px;
  height: auto;
}

.container .card .image img {
  width: 100%;
  height: 100%;
  border: 2px solid var(--default-black);
}

.container .card .info {
  width: 65%;
  margin: 0 0 0 2%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.container .card .info .title {
  font-size: 28px;
  margin: 0 0 2% 0;
}

.container .card .info .columns {
  display: flex;
  justify-content: space-between;
  max-height: 450px;
  height: auto;
}

.container .card .info .columns .column {
  display: flex;
  flex-direction: column;
}

.container .card .info .columns .column span {
  font-size: 20px;
  font-weight: 500;
}

.container .card .info .columns .column:nth-child(1) {
  width: 20%;
  gap: 10px;
  margin: 6% 0 0 0;
}

.container .card .info .columns .column:nth-child(2) {
  width: 70%;
  display: flex;
  height: auto;
  justify-content: space-between;
}

.container .card .info .columns .column:nth-child(2) .text {
  text-align: justify;
  height: 340px;
  max-height: 340px;
  padding: 2%;
  overflow-y: auto;
  border: 2px solid var(--default-black);
  margin: 0 0 4% 0;
}

.container .card .info .columns .column:nth-child(2) .checkout-button {
  display: flex;
  justify-content: flex-end;
}

.container .card .info .columns .column:nth-child(2) .checkout-button a {
  width: 25%;
  padding: 12px 0;
  text-align: center;
  border-radius: 4px;
  background-color: #ead107;
  font-weight: bold;
  font-size: 16px;
  color: var(--default-black);
  text-decoration: none;
}

.container .card .info .columns .column:nth-child(2) .checkout-button a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container .payment-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2% 0 4% 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
}

.container .payment-wrapper .header {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 8px 0;
  color: #555;
  border: 2px solid var(--default-black);
}
.container .payment-wrapper .header span {
  margin: 0 2% 0 0;
  font-size: 40px;
}

.container .payment-wrapper .details {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 2% 0 0 0;
  background-color: #ffffff;
  padding: 2% 0;
}

.container .payment-wrapper .details .client {
  width: 35%;
}

.container .payment-wrapper .details .client .item {
  width: 100%;
  margin: 6% 0 0 0;
}

.container .payment-wrapper .details .client .item:first-child {
  margin: 0;
}

.container .payment-wrapper .details .client .item:nth-child(2),
.container .payment-wrapper .details .client .item:nth-child(5) {
  display: flex;
  justify-content: space-between;
}

.container .payment-wrapper .details .client .item:nth-child(2) .duo,
.container .payment-wrapper .details .client .item:nth-child(5) .duo {
  width: 45%;
}

.container .payment-wrapper .details .client .item:nth-child(2) .duo span,
.container .payment-wrapper .details .client .item:nth-child(5) .duo span {
  width: 100%;
}

.container .payment-wrapper .details .client .item:nth-child(2) .duo input,
.container .payment-wrapper .details .client .item:nth-child(5) .duo input {
  padding: 7% 0 7% 4%;
}

.container .payment-wrapper .details .client .item input {
  width: 100%;
  border: 1px solid #acacac;
  padding: 3% 0 3% 2%;
  border-radius: 4px;
  outline: none;
  color: #555;
  font-size: 18px;
}

.container .payment-wrapper .details .column {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.container .payment-wrapper .details .column .comic {
  border: 2px solid #acacac;
  border-radius: 4px;
}

.container .payment-wrapper .details .column .comic .title {
  padding: 16px;
  font-size: 20px;
  border-bottom: 1px solid #acacac;
  color: #555;
  letter-spacing: 1px;
}

.container .payment-wrapper .details .column .comic .prod-detail {
  padding: 22px 16px;
}

.container .payment-wrapper .details .column .comic span {
  font-size: 14px;
  color: #555;
}

.container .payment-wrapper .details .column .comic .prod-detail .sub-text {
  margin: 0 0 2% 0;
}

.container .payment-wrapper .details .column .comic .prod-detail .product {
  border-bottom: 1px solid #acacac;
  padding: 0 0 2% 0;
  margin: 0 0 6% 0;
}

.container .payment-wrapper .details .column .comic .prod-detail .product p {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 18px;
}

.container
  .payment-wrapper
  .details
  .column
  .comic
  .prod-detail
  .product
  .quant-price {
  display: flex;
  justify-content: space-between;
  color: #8a8a8a;
}

.container
  .payment-wrapper
  .details
  .column
  .comic
  .prod-detail
  .pay-process
  .item:last-child {
  margin: 6% 0 0 0;
}

.container
  .payment-wrapper
  .details
  .column
  .comic
  .prod-detail
  .pay-process
  .item
  div {
  margin: 2% 0 0 0;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.container
  .payment-wrapper
  .details
  .column
  .comic
  .prod-detail
  .pay-process
  .item
  div
  span {
  margin: 0 2% 0 0;
  font-size: 22px;
}

.container .payment-wrapper .details .column .comic .parcel-total {
  border-top: 1px solid #acacac;
  margin: 4% 0 0 0;
  background-color: #fcf8f8;
  padding: 22px 16px;
}

.container .payment-wrapper .details .column .comic .parcel-total span {
  font-size: 18px;
  opacity: 0.85;
}

.container .payment-wrapper .details .column .comic .parcel-total strong {
  opacity: 1;
  color: black;
  font-size: 22px;
}

.container .payment-wrapper .details .column .comic .parcel-total .parcel {
  margin: 0 0 4% 0;
}

.container .payment-wrapper .details .column .button {
  margin: 6% 0 0 0;
  background-color: #b14922;
  border: 2px solid var(--default-black);
  padding: 12px 0;
  text-align: center;
  border-radius: 4px;
}

.container .payment-wrapper .details .column .button a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
}

.container .payment-wrapper .details .column .button:hover {
  cursor: pointer;
  opacity: 0.8;
}
