{% extends 'layout.njk' %}
{% block content %}
    <div class="container">
        <div class="cards">
            {% for comic in comics %}
                <a href="/comics/{{ comic.id }}" class="comic-card">
                    <div>
                        <img src="{{ comic.thumbnail }}.{{ comic.extension }}" alt="">
                            <div class="title">
                                <strong title="{{ comic.title }}">{{ comic.title }}</strong>
                            </div>
                            <div class="description">
                                <span>
                                    {% if comic.description and comic.description != 'null' and comic.description != ' ' %}
                                        {{ comic.description }}
                                    {% else %}
                                        No description!
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </a>
            <div class="pagination-wrapper">
                <div class="pagination" data-page={{ pagination.page }} data-total={{ pagination.total }} data-filter={{ filter }}></div>
            </div>
        </div>
    </div>
{% endblock content %}